In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df=pd.read_csv("MiddleEastFreelancers_cleaning.csv")

In [3]:
df.head(10)

,name,location,price_per_hour,user_score,verified_user,skills,description,recommended
0,Asad K.,Pakistan,$66,22900,1,"Brand Design,Website Development,WordPress Des...",Top #1 Freelance Web Developer | Freelance Gra...,1
1,Mohamed A.,Egypt,$10,15925,1,"Motion Graphics,Video Editing,Graphic Design,L...",Professional Designer | Video Editor | Motion...,1
2,Zeinab S.,United Arab Emirates,$20,8184,1,"Business Proposal Writing,Content Writing,Copy...","I am a Business Analyst & Psychologist by day,...",1
3,Nimra A.,United Arab Emirates,$20,6623,1,"Content Writing,Article Writing,Social Media M...",Freelance Writer | Expert Researcher | Social ...,1
4,Ahmed S.,United Arab Emirates,$55,4825,1,"PHP,React native,Laravel Framework,C#",UI & UX | Web & App Developer | Graphic Design...,1
5,Nohma E.,Lebanon,$25,4794,0,"2D Design,3D Animation,3D Design,3D Modeling",Freelance Interior Designer and Architect,1
6,Rania H.,United Arab Emirates,$35,4350,0,"2D Design,3D Design,3D Modeling,3D Rendering",Freelance Architect & interior designer with 8...,1
7,Farrah Z.,United Arab Emirates,$20,3675,0,"Academic Writing,Creative Writing,Content Writ...",Creative Content Writer | English Teacher| Tra...,1
8,Tasneem E.,Egypt,$20,3645,1,"Digital Marketing,Account Management,Email Mar...",Digital Marketer | Social Media Strategist | F...,1
9,Ruba G.,Lebanon,$20,3450,1,"Adobe Photoshop,Adobe Illustrator,Brand Design...",Freelance Graphic Designer | Visual Communicator,1

In [5]:
df.shape

(3000, 8)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            3000 non-null   object
 1   location        3000 non-null   object
 2   price_per_hour  3000 non-null   object
 3   user_score      3000 non-null   int64
 4   verified_user   3000 non-null   int64
 5   skills          3000 non-null   object
 6   description     2921 non-null   object
 7   recommended     3000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 187.6+ KB

In [8]:
df.describe().T

                count       mean         std   min   25%   50%   75%      max
user_score     3000.0  82.556667  600.171022  24.0  25.0  25.0  38.0  22900.0
verified_user  3000.0   0.484333    0.499838   0.0   0.0   0.0   1.0      1.0
recommended    3000.0   0.008333    0.090921   0.0   0.0   0.0   0.0      1.0

In [9]:
df.columns

Index(['name', 'location', 'price_per_hour', 'user_score', 'verified_user',
       'skills', 'description', 'recommended'],
      dtype='object')

In [10]:
df.dtypes

name              object
location          object
price_per_hour    object
user_score         int64
verified_user      int64
skills            object
description       object
recommended        int64
dtype: object

In [11]:
df["location"].value_counts()

United Arab Emirates        1025
Pakistan                     623
Egypt                        428
Lebanon                      223
Saudi Arabia                 200
India                        143
Jordan                        74
Palestine                     67
Tunisia                       60
Philippines                   44
Turkey                        14
Kuwait                         8
Algeria                        8
Iran                           6
Nigeria                        6
United Kingdom                 5
Ukraine                        5
Bangladesh                     4
Germany                        4
Bahrain                        4
Sudan                          4
Israel                         4
Kenya                          4
United States of America       4
Qatar                          3
Syria                          3
Iraq                           3
Morocco                        3
Sri Lanka                      2
Brazil                         2
Tanzania                       2
South Africa                   2
France                         2
Italy                          1
Greece                         1
Mexico                         1
Canada                         1
Zimbabwe                       1
Antigua And Barbuda            1
Vietnam                        1
Oman                           1
Poland                         1
Peru                           1
Australia                      1
Name: location, dtype: int64

In [12]:
df["recommended"].value_counts()

0    2975
1      25
Name: recommended, dtype: int64

In [14]:
df["verified_user"].value_counts()

0    1547
1    1453
Name: verified_user, dtype: int64

In [15]:
df["skills"].value_counts()

2D Design,3D Design,3D Modeling,3D Rendering                                 49
2D Design,3D Animation,3D Design,3D Modeling                                 16
3D Animation,3D Design,3D Modeling,3D Rendering                              11
2D Animation,2D Design,3D Animation,3D Design                                 8
Cost Estimation                                                               6
                                                                             ..
Adobe Illustrator,Adobe Photoshop,Digital Marketing,Direct Mail Marketing     1
2D Design,Adobe Illustrator,Adobe Photoshop,Computer Skills                   1
Adobe Illustrator,Adobe Photoshop,Adobe Photoshop Lightroom,CorelDRAW         1
Banner Ad Design,Brochure Design,Flyer Design,Graphic Design                  1
3D Animation,2D Design,3D Design,3D Modeling                                  1
Name: skills, Length: 2725, dtype: int64

In [16]:
df["name"].value_counts()

Muhammad A.     21
Muhammad A.     11
Ahmed S.        10
Mohamed A.       9
Muhammad U.      8
                ..
Kashif S.        1
Saima H.         1
Maria K.         1
Qasim K.         1
Yasser M.        1
Name: name, Length: 2638, dtype: int64

In [17]:
df.duplicated().sum()

0

In [19]:
df.isna().sum()

name               0
location           0
price_per_hour     0
user_score         0
verified_user      0
skills             0
description       79
recommended        0
dtype: int64

In [21]:
df.replace(np.nan,'?',inplace = True)

In [22]:
df.isnull().sum()

name              0
location          0
price_per_hour    0
user_score        0
verified_user     0
skills            0
description       0
recommended       0
dtype: int64